.container {
    padding: 0 2rem;
}
  
.main {
    min-height: 100vh;
    padding: 2rem 0.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.header {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}
  
.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}
  
.logo {
    height: 1em;
    margin-left: 0.5rem;
}
  
@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}
  