.container {
  padding: 1rem 2rem;
}

/* ===== HEADER ===== */

.headerBar {
  padding: 1rem 2rem 0.5rem;
  margin: 0rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;

  background-color: var(--header-color);
}

.header {
  padding: 0rem;
  margin: 0rem;

  flex: 7;

  white-space: nowrap;
}

.headerText {
  padding: 0rem;
  margin: 0rem;

  font-size: 2rem;
  font-weight: 500;
  text-align: left;

  transition: color 0.3s;
}
.headerText:hover {
  color: var(--highlight-color);
}

/* ===== NAVIGATION ===== */

.navbar {
  padding: 0rem;
  margin: 0rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;

  flex: 1;
  align-self: flex-end;

  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.navcard {
  padding: 0.1rem 1rem;
  margin: 0rem;

  font-size: 1.2rem;
  text-align: center;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;

  border: 1px hidden #7c7c7c;
  border-radius: 10px;
  transition: color 0.3s;
  max-width: 300px;
}

.navcard:hover,
.navcard:focus,
.navcard:active {
  color: var(--highlight-color);
}

/* ===== FOOTER ===== */

.footer {
  padding: 1.5rem 0rem;
  margin: 1rem 2rem 0rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--border-color);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
