/* Default Button */
.button {
  border: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 10px;
  width: 4rem;
}

/* Variants */
.variant__icon {
  cursor: pointer;
}
.variant__icon:after {
  content: "☆";
}
.variant__text:after {
  content: "Favorite";
}

.isFav.variant__icon:after {
  content: "★";
}
.isFav.variant__text:after {
  content: "Favorited";
}
