
.favButtonOff {
    padding: 0rem 0.5rem 0.2rem;
    margin: 0rem 5rem;

    color: black;
    background-color: white;

    border: 2px solid #333333;
    border-radius: 10px;
}
.favButtonOn {
    padding: 0rem 0.5rem 0.2rem;
    margin: 0rem 5rem;

    color: white;
    background-color: #2571ff;

    border: 2px solid #2571ff;
    border-radius: 10px;
}

.favTextOff {
    padding: 0.3rem;
    margin: 0.5rem;

    align-self: center;

    font-size: 1rem;
    font-weight: medium;
    text-align: center;
    color: black;
    background-color: white;

    border: 2px solid #333333;
    border-radius: 10px;

    transition: color 0.5s, border-color 0.5s;
}
.favTextOff:hover {
    color: #2571ff;
    border-color: #2571ff;
}
.favTextOn {
    padding: 0.3rem;
    margin: 0.5rem;

    align-self: center;

    font-size: 1rem;
    font-weight: medium;
    text-align: center;
    color: white;
    background-color: #2571ff;

    border: 2px solid #2571ff;
    border-radius: 10px;
}
