
.favButtonOff {
    padding: 0rem 0.5rem 0.2rem;
    margin: 0rem 5rem;

    color: black;
    background-color: white;

    border: 2px solid #333333;
    border-radius: 10px;
}
.favButtonOn {
    padding: 0rem 0.5rem 0.2rem;
    margin: 0rem 5rem;

    color: white;
    background-color: #2571ff;

    border: 2px solid #2571ff;
    border-radius: 10px;
}
