.trending {
    padding: 1rem 0rem;
    margin: 1rem 0rem 0.5rem 0rem;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    width: 100%;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.movielist {
    padding: 0rem;
    margin: 0rem;

    border-style: hidden;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    gap: 1rem;
  
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.moviecard {
    padding: 0.5rem 0rem;
    margin: 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0 1 10%;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    color: #2571ff;
    text-decoration: none;

    border: 2px solid #7c7c7c;
    border-radius: 10px;
    background-color: #ffffff;

    cursor: pointer;

    transition: border-color 0.5s;
}
.moviecard:hover,
.moviecard:focus {
    border: 2px solid #2571ff;
}

.poster {
    padding: 0rem;
    margin: 0rem;
}

.moviedata {
    padding: 0rem 0.5rem;
    margin: 0rem;
}

/*
.moviecard:hover,
.moviecard:focus,
.moviecard:active {
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: #97c7ff;
}
*/