/* Standard button format */
.button {
  color: var(--text-color);
  background-color: var(--card-color);

  border: 2px solid var(--border-color);
  border-radius: 10px;

  transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}
.button:hover {
  background-color: var(--fav-color);

  border: 2px solid var(--fav-color);
}

/* Icon button - Not favorited */
.variant__icon {
  padding: 0rem 0.5rem 0.2rem;
  margin: 0rem 1rem;
}
.variant__icon:after {
  content: "☆";
}

/* Icon button - Favorited */
.isFav.variant__icon {
  color: var(--text-color);
  background-color: var(--fav-color);

  border: 2px solid var(--fav-color);
}
.isFav.variant__icon:after {
  content: "★";
}

/* Text button - Not favorited */
.variant__text {
  padding: 0.3rem;
  margin: 0.5rem;

  font-size: 1rem;
  font-weight: medium;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);

  align-self: center;
}
.variant__text:after {
  content: "Add to Favorites";
}

/* Text button - Favorited */
.isFav.variant__text {
  padding: 0.3rem;
  margin: 0.5rem;

  color: var(--text-color);
  background-color: var(--fav-color);

  border: 2px solid var(--fav-color);

  transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}
.isFav.variant__text:after {
  content: "Favorited";
}
