.main {
  padding: /* 1rem  */ 0rem;
  margin: 0rem;
}

.search {
  padding: 0rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;

  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.input {
  padding: 0.5rem;

  flex: 6;

  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  border: hidden;
  border-radius: 8px 0 0 8px;
  outline: 0;
}

.searchBtn {
  padding: 0.5rem;

  flex: 1;

  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);

  border: hidden;
  border-left: 1px solid var(--border-color);
  border-radius: 0 8px 8px 0;

  cursor: pointer;
  transition: background-color 0.5s, border-radius 0.5s;
}
.searchBtn:hover {
  border: hidden;
  border-color: #9e9e9e;

  background-color: var(--highlight-color);
  border-radius: 8px;
}

.showSearchBtn {
  padding: 0.2rem 0.3rem;
  margin: 0rem;
  background-color: var(--card-color);
  border: 2px solid var(--border-color);
  border-radius: 20px;

  transition: background-color 0.5s;
}
.showSearchBtn:hover {
  background-color: var(--alt-highlight-color);
}

.btnIcon {
  height: 1.5rem;
  width: 1.5rem;
}
