.movielist {
    padding: 0rem;
    margin: 1rem 0rem 0rem 0rem;

    border-style: hidden;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    gap: 1rem;
  
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.moviecard {
    padding: 0.5rem;
    margin: 0rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: center;
    color: inherit;
    text-decoration: none;

    border: 2px solid #7c7c7c;
    border-radius: 10px;
    background-color: #ffffff;

    transition: border-color 0.5s;
}
.moviecard:hover,
.moviecard:focus {
    border: 2px solid #2571ff;
    cursor: pointer;
}

.movieattributes {
    padding: 0rem;
    margin: 0rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: center;
    color: inherit;
    text-decoration: none;
}

.moviedata {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: left;
}

.title {
    padding: 0.25rem 0;
    margin: 0;

    color: #2571ff;
    font-size: x-large;
    text-align: left;
}

.details {
    padding: 0;
    margin: 0;

    color: #4d4d4d;
    font-size: small;
    text-align: left;
}

.desc {
    padding: 0.5rem 0 0.25rem 0;
    margin: 0;

    font-size: medium;
    text-align: left;
}

.trending {
    padding: 1rem 0rem;
    margin: 2rem 0rem 0rem 0rem;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    width: 100%;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.poster {
    padding: 0rem;
    margin: 0rem;
}

/*
.moviecard:hover,
.moviecard:focus,
.moviecard:active {
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: #97c7ff;
}
*/
