:root {
  --header-color: #202020;
  --bg-color: #181818;
  --border-color: #8899a6;
  --card-color: #282828;
  --text-color: #fafafa;
  --alt-text-color: #aaaaaa;
  --highlight-color: #2571ff;
  --fav-color: #ff5f5f;
  --accent-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  background-color: var(--card-color);
}

* {
  box-sizing: border-box;
}
